@import 'normalize.css';
@import url(https://db.onlinewebfonts.com/c/b28b8b56b2368e797d2c09f5696de8b5?family=Biondi+Sans+W00+Regular);
@import url(https://db.onlinewebfonts.com/c/0c88321b08d53c4f2b1fb0de1c59b87b?family=Biondi+Sans+W00+Book);
@import url(https://db.onlinewebfonts.com/c/0c88321b08d53c4f2b1fb0de1c59b87b?family=Biondi+Sans+W00+Light);

:root {
    --default-layout-header-height: 100px;
    --default-layout-width: 1920px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.7;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('http://quilounge.com/assets/uploads/2016/04/file-texture-qui-con-rua2.jpg') !important;
}