.transparent-header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    z-index: 1000;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 62%;
    
        .logo {
            width: 8%;
        }
    
        .header-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 75%;
    
            .nav-item {
                display: flex;
                width: 85%;
            }
        
            .social-media {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 12%;
            }
        }
    }
}

.solid-header {
    background-color: white;
    color: black; 
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 62%;
    
        .logo {
            width: 8%;
        }
    
        .header-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 75%;
    
            .nav-item {
                display: flex;
                width: 85%;
                color: #000;
            }
        
            .social-media {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 12%;
            }
        }
    }
}